<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="8947d569-a12c-4fb4-ad1f-3de5526a2650"
            Publisher="CN=jamie"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>Tff.PanzerGeneral.UI.WindowsRT</DisplayName>
    <PublisherDisplayName>jamie</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Tff.PanzerGeneral.UI.WindowsRT.App">
        <VisualElements
            DisplayName="Tff.PanzerGeneral.UI.WindowsRT"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="Tff.PanzerGeneral.UI.WindowsRT"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>